VENDURE_SHOP_API_URL=http://localhost:3000/shop-api
NEXT_PUBLIC_VENDURE_SHOP_API_URL=http://localhost:3000/shop-api
NEXT_PUBLIC_COOKIE_DOMAIN=.ahizan.com
VENDURE_AUTH_TOKEN_COOKIE=vendure-auth-token
STOREFRONT_URL=http://localhost:3001
SELLER_URL=http://localhost:3002
